/*
.div-verde{background-color:rgb(14, 235, 25);
    height: 100px;
    width: 100px;
}

#div1{

    background-color:rgb(199, 9, 9);
   height: 100px;
    width: 100px;

}
*/
footer {
    background-color: black;
}
footer #textopie{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:aliceblue;
    text-align:center;

}

div.empty {
    height: 2000px;
    background-color: red;
}

#Dfondo {
 
    height: 50vh;
    background-image: url(/images/desarrollo.jpg);
    background-position: center bottom;
    background-attachment:fixed ;
}
.p-medios {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:darkslategray   ;
    text-align:center;
}