
.div-verde{background-color:rgb(14, 235, 25);
    height: 350px;
    width: 20%;
    font-family:Arial, Helvetica, sans-serif;
    color:aliceblue;
    float:left;
    
}

#div1{

    background-color:rgb(199, 9, 9);
    height: 350px;
    width: 20%;
    float:right;

}
#div1 a {
    font-family:Arial, Helvetica, sans-serif;
    color:aliceblue;
    text-align:center;
}

footer {
    background-color: black;
}
footer #textopie{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:aliceblue;
    text-align:center;
    padding:10px

}

div.empty {
    height: 100px;
    width: 100%;
    background-color: red;
}

#Dfondo {
 
    height: 50vh;
    background-image: url(/images/desarrollo.jpg);
    background-position: center bottom;
    background-attachment:fixed ;
}
.p-medios {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:darkslategray   ;
    text-align:center;
}

.logo img {
    height: 200px;
    width: 100%;
    
}
.menu a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:darkslategray;
    
    
    

}